<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <img src="static/img/sticker.webp" class="buzova1" alt="">
    <img src="static/img/sticker1.webp" class="buzova" alt="">
    <nav>
        <div class="navbar">
            <a href="/">Главная</a>

            {% if session['user_id'] != none: %}
            <a href="/profile">Профиль</a>
            <button>Выйти</button>

            {% else: %}
            <a href="/login">Войти</a>
            <a href="/reg">Зарегистрироваться</a>
            {% endif %}

        </div>
    </nav>
    <div class="main">
        <h1>СОКРАТИТЕЛЬ</h1>
        <div class="links">
            <p>Полная ссылка</p>
            <p>Короткая ссылка</p>
            <input type="text" name="url" class="link" id="url">

            <input type="text" name="short-url" class="link" id="short-url">
        </div>
        <p>Тип доступа</p>
        <select name="" id="">
            <option value="">Публичный</option>
            <option value="">Общего доступа</option>
            <option value="">Приватный</option>
        </select>
        <div class="btn">
            <button class="btn-short">Сократить</button>
        </div>
    </div>

</body>

</html>