<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <img src="static/img/sticker.webp" class="buzova1" alt="">
    <img src="static/img/sticker1.webp" class="buzova" alt="">
    <nav>
        <div class="navbar">
            <a href="/">Главная</a>

            {% if session['auth'] == True: %}
            <a href="/profile">Профиль</a>
            <a href="/logout">Выйти</a>

            {% else: %}
            <a href="/login">Войти</a>
            <a href="/reg">Зарегистрироваться</a>
            {% endif %}

        </div>
    </nav>
    <form class="main" method="post">
        <h1>СОКРАТИТЕЛЬ</h1>
        <div class="links">
            <p>Полная ссылка</p>
            <p>Короткая ссылка</p>
            <input type="text" name="url" class="link" id="url">

            <input type="text" name="short_url" class="link" id="short-url">
        </div>
        <p>Тип доступа</p>
        <select name="access" id="">
            <option value="access_public">Публичный</option>
            <option value="access_all">Общего доступа</option>
            <option value="access_privat">Приватный</option>
        </select>
        <div class="btn">
            {% for err in get_flashed_messages() %}
            <p>{{err}}</p>
            {% endfor %}
            <button class="btn-short">Сократить</button>
        </div>
    </form>

</body>

</html>