<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Главная</a>

            {%  if session['auth'] == True: %}
            <a href="/profile">Профиль</a>
            <a href="/logout">Выйти</a>

            {% else: %}
            <a href="/login">Войти</a>
            <a href="/reg">Зарегистрироваться</a>
            {% endif %}
        </div>
    </nav>

    <div>
<table class="table">
  <thead>
    <tr>
      <th>Исходная ссылка</th>
      <th>Короткая ссылка</th>
      <th>Количество переходов</th>
      <th>Тип</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <p>{{userUrl}}</p>
  <tbody>
   {% for i in userUrl %}
     <tr>
      <td class="max-250px">{{i[1]}}</td>
      <td><a href={{hosthref}}short/{{i[2]}}>{{hosthref}}short/{{i[2]}}</a></td>
      <td>{{i[3]}}</td>
      <td>
         <form method="POST" action="edit_access">
           <select name="type">
             {% for item in accesses %}
                        <option selected value="{{item[0]}}">{{item[2]}}</option>
             {% endfor %}
           </select>
          <button name="id" value={{i[0]}}>Ред</button>
         </form>

      </td>
       <td>
         <form method="POST" action="edit_psev">
          <input name="short_name" value={{i[2]}} />
          <button name="id" value={{i[0]}}>Ред</button>
         </form>

       </td>
      <td>
        <form method="POST" action="delete">
          <button name="id" value={{i[0]}}>Удалить</button>
        </form>
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>
    </div>

</body>
</html>