<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/">Главная</a>
            <a href="/login">Войти</a>
            <a href="/reg">Зарегистрироваться</a>
        </div>
    </nav>

    <form method="post" class="main">
        <h1>ЗАРЕГИСТРИРОВАТЬСЯ</h1>
        <p>Логин</p>
        <input name="login" type="text">
        <p>Пароль</p>
        <input name="password" type="password">
        <div class="btn">
            <button class="">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>
